In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("Downloads/archive (5)/weather.csv")

In [3]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [4]:
df['MaxTemp'].max()

35.8

In [5]:
df['WindSpeed3pm'].mean()

17.98633879781421

In [6]:
df['WindSpeed9am'].mean()

9.651810584958218

In [7]:
#data munging or data wraning is a process where we structure the unstructure form of data

In [8]:
df.fillna(0,inplace =True)  #this help to fill the na place with so we got accuracyin our code

In [9]:
df = pd.read_csv("Downloads/Book1.csv")

In [16]:
df

          day  temperature  windspeed  event
0  01-01-2024           32          6   Rain
1  01-02-2024           35          7  Sunny
2  01-03-2024           28          2   Snow
3  01-04-2024           24          7   Snow
4  01-05-2024           32          4   Rain
5  01-06-2024           32          2  Sunny

In [17]:
rows,coloum=df.shape

In [18]:
rows

6

In [19]:
coloum

4

In [20]:
df.head(2)

          day  temperature  windspeed  event
0  01-01-2024           32          6   Rain
1  01-02-2024           35          7  Sunny

In [21]:
df.tail(2)

          day  temperature  windspeed  event
4  01-05-2024           32          4   Rain
5  01-06-2024           32          2  Sunny

In [23]:
df[2:5]

          day  temperature  windspeed event
2  01-03-2024           28          2  Snow
3  01-04-2024           24          7  Snow
4  01-05-2024           32          4  Rain

In [27]:
df.day

0    01-01-2024
1    01-02-2024
2    01-03-2024
3    01-04-2024
4    01-05-2024
5    01-06-2024
Name: day, dtype: object

In [30]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [32]:
type(df['event'])

pandas.core.series.Series

In [33]:
df

          day  temperature  windspeed  event
0  01-01-2024           32          6   Rain
1  01-02-2024           35          7  Sunny
2  01-03-2024           28          2   Snow
3  01-04-2024           24          7   Snow
4  01-05-2024           32          4   Rain
5  01-06-2024           32          2  Sunny

In [34]:
df[['event','day']]

   event         day
0   Rain  01-01-2024
1  Sunny  01-02-2024
2   Snow  01-03-2024
3   Snow  01-04-2024
4   Rain  01-05-2024
5  Sunny  01-06-2024

In [37]:
df['temperature'].max()

35

In [38]:
df['temperature'].mean()

30.5

In [39]:
df['temperature'].min()

24

In [40]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [41]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2024           32          6   Rain
1  01-02-2024           35          7  Sunny
4  01-05-2024           32          4   Rain
5  01-06-2024           32          2  Sunny

In [42]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01-02-2024           35          7  Sunny

In [44]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [47]:
df.set_index('day',inplace=True)

In [50]:
df

            temperature  windspeed  event
day
01-01-2024           32          6   Rain
01-02-2024           35          7  Sunny
01-03-2024           28          2   Snow
01-04-2024           24          7   Snow
01-05-2024           32          4   Rain
01-06-2024           32          2  Sunny

In [52]:
df.loc['01-04-2024']

temperature      24
windspeed         7
event          Snow
Name: 01-04-2024, dtype: object

In [53]:
df.reset_index(inplace=True)

In [54]:
df

          day  temperature  windspeed  event
0  01-01-2024           32          6   Rain
1  01-02-2024           35          7  Sunny
2  01-03-2024           28          2   Snow
3  01-04-2024           24          7   Snow
4  01-05-2024           32          4   Rain
5  01-06-2024           32          2  Sunny

In [55]:
df.set_index('event',inplace=True)
df

              day  temperature  windspeed
event
Rain   01-01-2024           32          6
Sunny  01-02-2024           35          7
Snow   01-03-2024           28          2
Snow   01-04-2024           24          7
Rain   01-05-2024           32          4
Sunny  01-06-2024           32          2

In [58]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   01-03-2024           28          2
Snow   01-04-2024           24          7